<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Alumno</title>
    <div>
        <div>Nuevo Alumno</div>
        <form action="/save" method="post">
            <div>
                <label for="user">Boleta</label>
                <input type="text" name="bol" id="bol">
            </div>
            <div>
                <label for="user">Nombre</label>
                <input type="text" name="nom" id="nom">
            </div>
            <div>
                <label for="user">Apellido P.</label>
                <input type="text" name="appat" id="appat">
            </div>
            <div>
                <label for="user">Apellido M.</label>
                <input type="text" name="apmat" id="apmat">
            </div>
            <div>
                <label for="user">Teléfono</label>
                <input type="text" name="tel" id="tel">
            </div>
            <button type="submit">Guardar</button>
            <a href="/">Cancelar</a>
        </form>
    </div>
</head>
<body>
    
</body>
</html>